CONTAINER_NAME=amnezia-awg2
WG_INTERFACE=awg0
SERVER_PUBLIC_KEY_PATH=/opt/amnezia/awg/wireguard_server_public_key.key
DB_PATH=/opt/vpn-panel/vpn.db
TEMPLATE_PATH=/opt/vpn-panel/awg_template.conf
CLIENTS_TABLE_PATH=/opt/amnezia/awg/clientsTable
PANEL_TMP_DIR=/opt/vpn-panel
ENDPOINT=SERVER_IP:PORT
DNS=172.29.172.254, 1.0.0.1
